html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #082175;
    color: white;
    position: fixed;
    padding: 5px 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 6px 20px rgba(3, 14, 77, 0.6);
}

nav .container-nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    margin: 0 15px;
    transition: all 0.3s ease;
}

nav ul li:hover {
    transform: translateX(-2px)
}

nav ul li a {
    color: rgba(255, 255, 255, 0.726);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
    padding: 10px 10px;
    background-color: #0a1f61;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    nav .container-nav {
        width: 90%;
    }

    nav ul {
        gap: 5px;
    }

    nav ul li {
        margin: 0 8px;
    }

    nav h1 {
        font-size: 16px;
    }
}

.hero {
    width: 100%;
    background: linear-gradient(0deg, #061c96, #8291ac);
}

.container-content {
    padding: 200px 0;
}

.container-content h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: 900;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 0.849);
    margin-bottom: 10px;
}

.container-content h4 {
    margin-top: 0;
    color: rgb(255, 228, 228);
    font-weight: 300;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.b a {
    text-decoration: none;
    color: white;
    background-color: #1f3b96;
    padding: 0 40px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.b a:hover {
    color: #dbdbdbaf;
    background-color: #092353;
    transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
    .hero {
        height: auto;
    }

    .container-content .judul h2 {
        font-size: 30px;
    }

    .container-content h4 {
        font-size: 16px;
        padding-left: 20px;
    }
}

#about {
    background: linear-gradient(90deg, #051035, rgb(19, 54, 95), #051035);
    padding: 50px 0;
    height: 600px;
}

@media screen and (max-width: 1200px) {
    #about {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    #about {
        height: auto;
    }
    
}

#about .teks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

#about .teks .info h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

#about .teks .info p {
    color: #d4d4d4;
    font-size: 18px;
    text-align: center;
}

.container-cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 60px;
}

.card {
    height: 160px;
    background: linear-gradient(0deg, rgb(19, 52, 95), rgb(47, 86, 141));
    border-radius: 22px;
    transition: all 0.3s ease;
    color: #ffffffe7;
    cursor: pointer;
    opacity: 0;
    transition: all 0.8s ease;
}

@media screen and (max-width: 1200px) {
    .card {
        height: 180px;
    }
}

@media screen and (max-width: 768px) {
    #about .teks .info h2 {
        font-size: 50px;
        margin: 0;
        
    }

    #about .teks .info p {
        margin-bottom: 70px;
    }

    .container-cards {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .card {
        height: 210px;
    }
}

.card.from-left:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.50);
    color: rgb(255, 255, 255);
}

.card.from-right:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.50);
    color: rgb(255, 255, 255);
}

.card h4 {
    text-align: center;
    padding-top: 0px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.card .iden p {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
}

.card .hobi p {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;

}
.card .keahlian p {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
}

.card .contact p {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
}

.card.from-left {
    transform: translateX(-80px);
}

.card.from-right {
    transform: translateX(80px);
}

.card.show {
    opacity: 1;
    transform: translateX(0);
}

#kemampuan {
  padding: 60px 20px;
  background: linear-gradient(90deg, #0f172a, #1d2d53, #0f172a);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.skills {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.skills h2 {
    font-size: 36px;
    margin: 0;
}

.skills p {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .skills h2 {
        text-align: center;
        font-size: 36px;
    }

    .skills p {
        text-align: center;
    }
}

.skill {
    max-width: 1000px;
    margin: 0 auto 25px;
    transition: all 0.8s cubic-bezier(0.1, 0.42, 0.41, 1);
}

.skill span {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.skill:hover {
    transform: scale(1.05);
}

.progress {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 20px;
    color: white;
    transition: width 0.8s cubic-bezier(0.1, 0.42, 0.41, 1);
}

.html-css {  
    background: linear-gradient(90deg, #38bdf8, #2563eb);
}

.javascript {
    background: linear-gradient(90deg, #facc15, #ca8a04);
}

.python {
    background: linear-gradient(90deg, #22c55e, #15803d);
}

.hah {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
}

.hah.show {
    opacity: 1;
    transform: translateY(0);
}
