html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 2000px; /* For demonstration of fixed navbar */
    background-color: #f4f4f4;
}

nav {
    background-color: #082175;
    color: white;
    position: fixed;
    padding: 5px 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 6px 20px rgba(3, 14, 77, 0.6);
}

nav .container-nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    margin: 0 15px;
    transition: all 0.3s ease;
}

nav ul li:hover {
    transform: translateX(-2px)
}

nav ul li a {
    color: rgba(255, 255, 255, 0.726);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
    padding: 10px 10px;
    background-color: #0a1f61;
    border-radius: 20px;
}

.hero {
    width: 100%;
    background: linear-gradient(0deg, #061c96, #8291ac);
}

.container-content {
    padding: 200px 0;
}

.container-content .judul h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: 900;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 0.849);
    margin-bottom: 10px;
}

.container-content .judul h2:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    color: #ffffff;
}

.container-content h4 {
    margin-top: 0;
    color: rgb(255, 228, 228);
    font-weight: 300;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.b a {
    text-decoration: none;
    color: white;
    background-color: #1f3b96;
    padding: 0 40px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.b a:hover {
    color: #dbdbdbaf;
    background-color: #092353;
    transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
    .container-content .judul h2 {
        font-size: 30px;
    }

    .container-content h4 {
        font-size: 16px;
        padding-left: 20px;
    }
}

#about {
    background: linear-gradient(90deg, #051035, rgb(19, 54, 95), #051035);
    padding: 50px 0;
    height: 600px;
}

@media screen and (max-width: 1200px) {
    #about {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    #about {
        height: auto;
    }
    
}

#about .teks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

#about .teks .info h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

#about .teks .info p {
    color: #d4d4d4;
    font-size: 18px;
    text-align: center;
}

.container-cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 60px;
}

.card {
    height: 160px;
    background: linear-gradient(0deg, rgb(47, 47, 141), rgb(84, 84, 161));
    border-radius: 22px;
    transition: all 0.3s ease;
    color: #00d5e4;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .card {
        height: 180px;
    }
}

@media screen and (max-width: 768px) {
    .container-cards {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .card {
        height: 210px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.685);
}

.card h4 {
    text-align: center;
    padding-top: 0px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.card .iden p {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
}
.card .hobi p {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
}
.card .keahlian p {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
}
.card .contact p {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
}
